.header {
  /* Стили для шапки */
}

.header__menu {
  /* Контейнер меню */
}

.header__links-list {
  /* Список ссылок */
}

.header__links-list-item {
  /* Пункт списка */
}

.header__link {
  /* Сама ссылка */
}

.header__link_active {
  /* Активная ссылка */
}

.header__logo {
  /* Контейнер логотипа */
}

.header__logo-image {
  /* Картинка логотипа */
}

.address {
  /* Адрес (общий стиль) */
}

.header__address {
  /* Адрес в шапке (специфичное выравнивание) */
}